<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.projet">

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="DATABASE"
            android:value="db_app.db" />
        <meta-data
            android:name="VERSION"
            android:value="1" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="app.projet" />

        <activity
            android:name=".MainActivity"
            android:label="Connexion"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ListeDisciplines"
            android:label="Disciplines"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExercicesMaths"
            android:label="Mathématiques"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MathsMultiplications"
            android:label="Multiplications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ExercicesCultureG"
            android:label="Culture générale"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MathsMultiplicationOpt"
            android:label="Multiplications"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MathsAdditions"
            android:label="Additions"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CultGQCMOpt"
            android:label="Domaine - QCM"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CultGQcm"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChoisirUser"
            android:label="Choisir un compte"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CreerCompte"
            android:screenOrientation="portrait" />
    </application>

</manifest>